*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
html {
  min-height: 100%;
  font-size: 1em;
  line-height: 1.4;
  font-weight: 400;
  font-family: 'Open Sans', 'Source Sans Pro', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  background: #ebecf0;
  color: #222222;
}
body {
  margin: 0;
  padding: 0;
  background: #ebecf0;
  color: #222222;
}
a,
a:visited {
  color: #42b983;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #02282B;
}
#app {
  text-align: center;
}
/* Morph Style */
.morph {
  border: 2px solid transparent;
  background: linear-gradient(160deg, #f0f1f4 0%, #e4e6eb 100%);
  box-shadow: -3px -3px 6px 2px #ffffff, 5px 5px 8px 0px rgba(0, 0, 0, 0.17), 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  transition: 0.1s;
  outline: none !important;
}
.morph.rounded {
  border-radius: 20px !important;
}
.morph.rounded .rounded-inner {
  border-radius: 20px !important;
}
input.morph {
  border-radius: 50%;
}
.morph.active,
.morph.inset {
  border: 2px solid #fafafa;
  box-shadow: inset -3px -3px 5px 0px #ffffff, -1px -1px 4px 0px #ffffff, inset 5px 5px 10px 0px rgba(0, 0, 0, 0.12), inset 2px 2px 3px 0px rgba(0, 0, 0, 0.07), 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
input.morph.active,
input.morph.inset,
input.morph:active,
input.morph:focus {
  border: 2px solid #fafafa;
  box-shadow: inset -3px -3px 5px 0px #ffffff, -1px -1px 4px 0px #ffffff, inset 5px 5px 10px 0px rgba(0, 0, 0, 0.12), inset 2px 2px 3px 0px rgba(0, 0, 0, 0.07), 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
/* iOS checkbox */
input[type="checkbox"].ios-checkbox {
  display: none;
}
input[type="checkbox"].ios-checkbox + label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 60px;
  height: 30px;
}
input[type="checkbox"].ios-checkbox + label:before,
input[type="checkbox"].ios-checkbox + label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  border-radius: 60px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input[type="checkbox"].ios-checkbox + label:before {
  background-color: #eeeeee;
  width: 60px;
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
}
input[type="checkbox"].ios-checkbox + label:after {
  width: 30px;
  background-color: #ebecf0;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
input[type="checkbox"].ios-checkbox:checked + label:before {
  background: linear-gradient(120deg, #22ff82, #21bdff, #5433ff);
}
input[type="checkbox"].ios-checkbox:checked + label:after {
  left: 30px;
}
/* Progress Bars */
.progress-item {
  width: 10%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 2rem;
  padding-top: 15%;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1;
  align-self: flex-end;
}
.progress-inner {
  background-image: linear-gradient(120deg, #22ff82, #21bdff, #5433ff);
  border-radius: 2rem;
  height: 100%;
  opacity: 0.8;
}
/*--- Journal Items ---*/
.journal-list {
  display: flex;
  flex-wrap: wrap;
}
.journal-item {
  width: 250px;
  height: 250px;
  margin: 15px;
  padding: 15px;
  position: relative;
}
.journal-item.harvested .harvested {
  display: block;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(135deg, #11b95a, #11b95a, #22ff82);
}
.journal-item.harvested .harvested .bi-check {
  display: inline-block;
  font-size: 28px;
  color: #11b95a;
  vertical-align: middle;
  position: relative;
  bottom: 2px;
  margin-left: -10px;
}
.journal-item .title {
  display: block;
  width: 100%;
  font-size: 20px;
  line-height: 22px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(135deg, #00FDF1, #5433ff, #E400F7);
}
.journal-item ul {
  text-align: left;
}
.journal-item .edit-crop-wrap {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 10px;
  left:0;
  right: 0;
  text-align: center;
}
.journal-item button.edit-crop {
  color: #222222 !important;
  border: none !important;
}
.journal-item button.edit-crop:active,
.journal-item button.edit-crop:focus {
  box-shadow: 0.1em 0.1em 5px 0.1em rgba(130, 138, 145, 0.5) !important;
}
/* New Crop */
.text-icon.new-crop {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border: none;
  border: none !important;
  outline: none !important;
  text-align: center;
  background: none;
}
.text-icon.blue-green {
  background-image: linear-gradient(90deg, #22ff82, #21bdff, #5433ff);
}
.text-icon.new-crop span.plus {
  display: block;
  width: 100%;
  font-size: 150px;
  line-height: 125px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(135deg, #00FDF1, #5433ff, #E400F7);
}
.text-icon.new-crop span.text {
  display: block;
  width: 100%;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 20px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(135deg, #00FDF1, #5433ff, #E400F7);
}
/* Modal Content */
.modal-content {
  text-align: center;
}
.modal-content form {
  max-width: 100%;
  overflow: hidden;
}
.modal-content form label {
  width: 100px;
  margin: 0 10px 15px 0;
  text-align: right;
}
.modal-content form input {
  width: 175px;
  margin-bottom: 15px;
}
.modal-content form .custom-radio label {
  margin: 0;
}
.modal-content form .harvested-radio {
  display: inline-block;
  width: 175px;
  margin-bottom: 25px;
}
.modal-content form .harvested-radio label {
  width: auto;
  margin: 0;
}
@media screen and (max-width: 350px) {
  .modal-content form label {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .modal-content form input {
    margin-bottom: 10px;
  }
  .modal-content form .harvested-radio {
    margin-bottom: 25px;
  }
  .modal-content form input[type="radio"] {
    margin-bottom: 0;
  }
}
/* Notes */
.notes .note {
  display: block;
  width: 100%;
  clear: both;
}
.notes .note:after {
  content: "";
  display: block;
  clear: both;
}
.notes .note {
  display: block;
  margin: 0 0 5px 0;
  padding: 5px;
  border-top: 1px solid #cccccc;
  text-align: left;
}
.notes .note .date {
  display: block;
  width: 125px;
  margin: 0;
  padding: 0;
  float: left;
  font-size: 16px;
  line-height: 18px;
}
.notes .note .content {
  display: block;
  width: calc(100% - 125px);
  margin: 0;
  padding: 0;
  float: left;
  font-size: 16px;
  line-height: 18px;
}
#new-note form {
  padding: 10px 0 0 0;
}
@media screen and (max-width: 400px) {
  .notes .note {
    text-align: center;
  }
  .notes .note .date {
    width: 100%;
    margin: 0 0 10px 0;
    float: none;
  }
  .notes .note .content {
    width: 100%;
    margin: 0;
    float: none;
  }
}